absl-py==2.0.0
accelerate==0.23.0
aiofiles==23.2.1
aiohttp==3.8.6
aiosignal==1.3.1
altair==5.1.2
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
async-timeout==4.0.3
attrs==23.1.0
av==10.0.0
bcrypt==4.0.1
bitmath==1.3.3.1
bitsandbytes-windows==0.37.5
blurhash==1.1.4
cachetools==5.3.1
certifi==2023.7.22
cffi==1.16.0
cfgv==3.4.0
chardet==4.0.0
charset-normalizer==3.3.0
click==8.1.7
cloudscraper==1.2.71
colorama==0.4.6
coloredlogs==15.0.1
colossalai==0.2.5
contexttimer==0.3.3
contourpy==1.1.1
cryptography==41.0.4
cssselect==1.2.0
cycler==0.12.1
dateparser==1.1.8
decorator==5.1.1
Deprecated==1.2.14
deprecation==2.1.0
dghs-imgutils==0.2.10
DI-toolkit==0.2.0
diffusers==0.21.4
distlib==0.3.7
docker-pycreds==0.4.0
editdistance==0.6.2
einops==0.7.0
emoji==2.8.0
exceptiongroup==1.1.3
fabric==3.2.2
fastapi==0.104.0
ffmpy==0.3.1
filelock==3.12.4
flatbuffers==23.5.26
fonttools==4.43.1
frozenlist==1.4.0
fsspec==2023.9.2
future==0.18.3
gchar @ git+https://github.com/narugo1992/gchar.git@07a528a248a0882c175fef437a178e49e717a126
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.23.3
google-auth-oauthlib==1.0.0
gradio==3.41.2
gradio_client==0.5.0
grpcio==1.59.0
h11==0.14.0
hbutils==0.9.1
hcpdiff @ git+https://github.com/narugo1992/HCP-Diffusion.git@30a5daae107bc3bbe9d5ebcd1ba0bb13187a65b7
httpcore==0.18.0
httpx==0.25.0
huggingface_hub>=0.14.0
humanfriendly==10.0
hydra-core==1.3.2
identify==2.5.30
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.0
invoke==2.2.0
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
kiwisolver==1.4.5
lightning-utilities==0.9.0
loguru==0.7.2
lxml==4.9.3
Markdown==3.5
markdown-it-py==3.0.0
markdown2==2.4.10
MarkupSafe==2.1.3
matplotlib==3.8.0
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.4
natsort==8.4.0
networkx==3.2
ninja==1.11.1.1
nodeenv==1.8.0
numpy==1.26.1
oauthlib==3.2.2
omegaconf==2.3.0
onnxruntime==1.15.0
onnxruntime-gpu==1.16.1
opencv-python==4.8.1.78
orjson==3.9.9
packaging==23.2
pandas==2.1.1
paramiko==3.3.1
pathtools==0.1.2
Pillow==10.1.0
pilmoji==2.0.4
pixivpy3==3.7.3
platformdirs==3.11.0
pre-commit==3.5.0
protobuf==4.24.4
psutil==5.9.6
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycivitai @ git+https://github.com/narugo1992/pycivitai.git@fe70ce2fab5b1916941a37d3d2ba46c5cf0c738a
pyclipper==1.3.0.post5
pycparser==2.21
pydantic==2.4.2
pydantic_core==2.10.1
pyDeprecate==0.3.1
pydub==0.25.1
Pygments==2.16.1
PyNaCl==1.5.0
pyparsing==3.1.1
pyquery==2.0.0
pyreadline3==3.4.1
python-dateutil==2.8.2
python-multipart==0.0.6
pytimeparse==1.1.8
pytorch-lightning==1.5.10
pytz==2023.3.post1
PyYAML~=6.0.1
rapidfuzz==3.4.0
referencing==0.30.2
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rich==13.6.0
rpds-py==0.10.6
rsa==4.9
safetensors==0.4.0
scikit-learn==1.3.1
scipy==1.11.3
seaborn==0.13.0
semantic-version==2.10.0
sentry-sdk==1.32.0
setproctitle==1.3.3
shapely==2.0.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
starlette==0.27.0
sympy==1.12
tabulate==0.9.0
tensorboard==2.14.1
tensorboard-data-server==0.7.1
thefuzz==0.20.0
threadpoolctl==3.2.0
tokenizers==0.14.1
toolz==0.12.0
torch
torchaudio
torchmetrics==1.2.0
torchsde==0.2.6
torchvision
tqdm==4.66.1
trampoline==0.1.2
transformers==4.34.1
transliterate==1.10.2
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.1
Unidecode==1.3.7
urllib3==2.0.7
URLObject==2.4.3
uvicorn==0.23.2
virtualenv==20.24.5
waifuc @ git+https://github.com/deepghs/waifuc.git@ff7c32f74bd2ba4cb5fe980814fa611b674e9df3
wandb==0.15.12
websockets==11.0.3
Werkzeug==3.0.0
win32-setctime==1.1.0
wrapt==1.15.0
xformers==0.0.22
xmltodict==0.13.0
yarl==1.9.2
yattag==1.15.1
zipp==3.17.0
